@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-nunito: var(--font-nunito);

  --color-dark: rgba(42, 42, 42, 1);
  --color-light: rgba(120, 120, 120, 1);
  --color-light-active: rgba(213, 213, 213, 1);
  --color-primary: rgba(39, 174, 96, 1);

  --shadow-custom: 0px 5px 3px -2px #eb501705;
  --shadow-custom1: 0px 4px 12px 0px #00000014;
  --shadow-custom2: 0px 4px 24px 0px #0000000a;
}

body {
  font-family: var(--font-nunito);
  color: var(--color-dark);
}

/* Bullet color */
.auth-slider .swiper-pagination-bullet {
  background: #ffffff !important; /* default color */
  opacity: 0.5;
}

/* Active bullet color */
.auth-slider .swiper-pagination-bullet-active {
  background: #1d8348 !important; /* active color */
  opacity: 1;
}
.auth-slider-mobile .swiper-pagination-bullet-active {
  background: #1d8348 !important; /* active color */
  opacity: 1;
}

.auth-slider .swiper-pagination {
  position: absolute !important;
  bottom: 0 !important; /* lock at the bottom */
  left: 0 !important; /* lock to the left */
  width: auto !important;
  text-align: left !important;
  padding-top: 0rem; /* optional padding */
}
.swiper-main {
  padding-bottom: 2.5rem !important; /* space for pagination */
}

/* Checkbox white checkmark */
input[type="checkbox"].custom-checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' fill='none' d='M4 8l3 3 5-6'/%3E%3C/svg%3E");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}
